.pokemon{
    flex-basis: 30%;
   display: flex;
    flex-direction: column;
   align-items: center;
  justify-content: center;
   height: 300px;
   width: 400px;
   margin-top: 4rem;
   border: 2px solid black;
   border-radius: 20px;
   background-color: bisque;
}

.pokemon:hover{
    background-color: burlywood;
}
 .poke-image{
    max-height: 50%;
    min-height: 200px;
    max-width: 60%;
    display: block;
    
}

.poke-name{
    letter-spacing: 5px;
    font-size: larger;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
